Package: com.huami.dyyy
Name: DYYY
Version: 2.2-8
Architecture: iphoneos-arm
Section: Tweaks
Priority: optional
Maintainer: huami
Author: huami
Homepage: https://github.com/huami1314/DYYY
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Description: 仅供学习交流，请在 24 小时内自觉删除。
Icon: https://Mieing.Github.io/repo/file/TikTok.png